.tabs {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    margin-bottom: 10px;
    margin-top: 20px;
    background-color: #F7C566;
    color: #6C0345;
}

.tabs button {
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.tabs .active {
    border-bottom: 1px solid #6C0345;
}

.tabs button:hover {
    border-bottom: 1px solid #6C0345;
}

.tab-content {
    padding: 20px;
    padding-top: 0;
    border-radius: 5px;
    background-color: #fff;
}